.wrap {
  /* position: absolute; */
  perspective: 900px;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
}

.card-shadow,
.card {
  margin: 0 auto;
  margin-top: 100px;
  width: 600px;
  max-width: 85vw;
  height: 480px;
  z-index: 1;
  position: absolute;
  border-radius: 10px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.card {
  /* background: #fff url("https://images.unsplash.com/photo-1441716844725-09cedc13a4e7?fit=crop&fm=jpg&h=950&q=80&w=1925") 50% 50%; */
  background: #fff url("../../../../public/images/unstoppable.webp") 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 300%; */
}

/* @media (max-width:600px) {.card {
  background-size: 450%;
}
} */

.card-shine {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: 1;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 60%);
  z-index: -1;
}

.card-shadow {
  top: 10px;
  transform-style: preserve-3d;
  transform: translateZ(40px);
  z-index: -1;
  background: #040404;
  transform: scale(0.5, 0.5);
  box-shadow: 0 0 30px 10px #040404;
}

.card-front,
.card-title,
.card-subtitle {
  position: absolute;
  transform-style: preserve-3d;
}

.card-front {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: 700;
  text-align: left;
  left: 30px;
  bottom: 100px;
  font-size: 35px;
  line-height: 30px;
  /* text-shadow: 0 5px 8px rgba(0, 0, 0, 0.65); */
  transform: translateZ(0px);
  overflow: hidden;
  margin: 0;
  width: 80%;
}

.card-subtitle {
  font-weight: normal;
  text-align: left;
  left: 30px;
  width: 80%;
  bottom: 50px;
  font-size: 15px;
  line-height: 20px;
  /* text-shadow: 0 3px 6px rgba(0, 0, 0, 0.8); */
  transform: translateZ(0px);
}