@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --secondary: #1e1e20;
  --secondary2: #252529;
  --main: #dfdfd7;
  --main2: #dfdfd7;
  --button: #747bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main: #1e1e20;
    --main2: #252529;
    --secondary: #dfdfd7;
    --secondary2: #dfdfd7;
    --button: #747bff;
  }
}

body {
  color: var(--secondary2);
  background: #202123;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

*::-webkit-scrollbar {
  display: none;
}

html.has-scroll-smooth {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.text-stroke{
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2)
}
.text-stroke:hover{
  -webkit-text-stroke: 2px white
}

[data-load-container] {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
}






html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}







/* Scroll Down */

.icon {
  margin: 0 auto;
  border: 2px solid white;
  height: 62px;
  width: 36px;
  border-radius: 18px;
  position: relative;
  background-color: rgba(255,255,255,.05);
  cursor: pointer;
}

.icon:before {
  content: '';
  background: white;
  height: 6px;
  width: 2px;
  position: absolute;
  top: 14px;
  border-radius: 1px;
  left: calc(50% - 1px);
  animation: scroll 1.15s infinite;
}

@keyframes scroll {
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(24px);
  }
}